.section-content {
  font-size: 1rem;
  padding-block: 8px;

  &__title {
    font-size: 1.25rem;
    margin-block: 0 8px;

    &::after {
      content: ":";
    }
  }

  &__tags {
    display: flex;
    gap: 8px;
    width: 100%;
    flex-wrap: wrap;
  }
}
