.card {
  border-radius: 8px;
  padding: 24px;
  background: var(--v-background-color);
  color: var(--v-text-color);
  max-height: 90dvh;

  @media screen and (max-width: 420px) {
    max-width: 90%;
  }

  &__title {
    margin-block: 0 24px;
    font-weight: 700;
    font-size: 1.875rem;

    &--with-subtitle {
      margin-block: 0 8px;
    }

    &--colon {
      &::after {
        content: ":";
      }
    }
  }

  &__subtitle {
    margin-block: 0 24px;
    font-size: 1.25rem;
  }
}
