.people-data-content {
  &__title {
    font-size: 1.875rem;
    margin-block: 0 24px;
    font-weight: 700;

    >span {
      display: block;
      font-weight: 700;

      &::after {
        content: ":";
      }
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
  }
}
