:root {
  --v-primary-color: #ffe81f;
  --v-background-color: #232323;

  --v-text-color: #cecece;
  --v-button-text-color: #20182b;

  --v-error-color: #c47768;
  --v-success-color: #03dac6;
  --v-enable-color: #ffe81f4d;

  --v-tag-card-text-color: #dfdfdf;
  --v-tag-card-background-color: #353535;

  --v-empty-state-color: #ffffff52;
  --v-empty-state-border-color: #ffffff1f;
}
