.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 73px;
  min-height: 100vh;

  &__logo {
    width: 410px;
    height: 175px;
    margin-top: 80px;
    background-image: url("~/assets/img/LogoStarWars.png");
  }

  &__input {
    margin-bottom: 32px;
  }
}
