.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 73px;

  &__logo {
    width: 90%;
    height: 175px;
    margin-top: 80px;
    background: url("~/assets/img/LogoStarWars.png") no-repeat center/contain;
  }

  &__input {
    margin-bottom: 32px;
  }
}
