.button {
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0%;
  line-height: 28px;
  color: var(--v-button-text-color);
  border: 1px solid var(--v-primary-color);

  &--default {
    background-color: var(--v-primary-color);
  }

  &:disabled {
    cursor: default;
    opacity: 0.4;
    background: transparent;
    color: var(--v-text-color);
    border: 1px solid var(--v-text-color);
  }

  &:hover:enabled {
    border: 1px solid var(--v-background-color);
    box-shadow: 0px 2px 24px 0px #00000066;
  }
}
